<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>
<body>
    <h2>Create an Account</h2>

    <form method="post">
        {% csrf_token %}
        <p>
            {{ form.username.label_tag }}<br>
            {{ form.username }}
        </p>
        <p>
            {{ form.email.label_tag }}<br>
            {{ form.email }}
        </p>
        <p>
            {{ form.password1.label_tag }}<br>
            {{ form.password1 }}
        </p>
        <p>
            {{ form.password2.label_tag }}<br>
            {{ form.password2 }}
        </p>

        <button type="submit">Sign Up</button>
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</body>
</html>